.DS_Store
.svn
.tissues
*~
*.bak
*.log
*.swp
*.rbc
*.pyc
.netrwhist
replstate.xml
.rvmrc
intent_specific.sh
simon_specific.sh
carta_specific.sh
norm_specific.sh
api_keys.sh
api_keys_1password.sh
/.oh-my-zsh
oh-my-zsh
