[alias]
    a = add
    aa = add -A
    f = fetch 
    fp = fetch --prune
    br = branch
    b = branch
    bl = blame
    cm = commit
    ch = checkout
    get = checkout
    d = diff
    l = log
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    st = status
    ri = rebase --interactive
    rc = rebase --continue
    rom = rebase origin/master
    mt = mergetool
    type = cat-file -t
    dump = cat-file -p
    fixup = commit --fixup
    squash = commit --squash
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    w = whatchanged
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[core]
    editor = vim
[merge]
    conflictstyle = diff3
    tool = diffmerge
    defaultToUpstream = true
[mergetool]
    keepBackup = false
[diff]
    tool = diffmerge
[push]
    default = upstream
[rebase]
    autosquash = true
[user]
    name = Chet Mancini
    email = chetmancini@gmail.com
[credential]
    helper = osxkeychain
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
